<!doctype HTML>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <link href="../css/jspsych.css" rel="stylesheet" type="text/css"></link>
    </head>
    <body>
        <div class = "parent">
            <div class = "child">
                <div id="jspsych_target">
                    <h2>This is it for this test.</h2>
                    <p>If you are interested in fighting against biases and prejudice against Black people in academia, read more about <a href="https://www.shutdownstem.com/about" target="new" >Shut Down Academia</a>, the initiative which has inspired this project.</p>
                    <p>If you are interested in understanding the origins of the effects revealed by implicit association tests (and their limitations), you can read about it on <a href = "https://en.wikipedia.org/wiki/Implicit-association_test" target = "new" >Wikipedia</a>  :).</p>
                </div>
            </div>
        </div>
    </body>
</html>
