<!DOCTYPE html>
<html>
<head>
  <title>IAT Example</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="../jspsych/jspsych.js"></script>
  <script src="../jspsych/plugins/jspsych-iat-image.js"></script>
  <script src="../jspsych/plugins/jspsych-iat-html.js"></script>
  <script src="../jspsych/plugins/jspsych-html-keyboard-response.js"></script>
  <script src="../jspsych/plugins/jspsych-html-button-response.js"></script>
  <script src="../jspsych/plugins/jspsych-survey-likert.js"></script>
  <script src="https://brain2ai.github.io/jsPsychSheet/jspsychsheet.js"></script>
  <link href="../css/jspsych.css" rel="stylesheet" type="text/css"></link>
</head>
<body>
  <div class = "jspsych-display-element">
    <div id="jspsych_target"></div>
  </div>
</body>

<script>

var intro_block = {
  type: 'html-keyboard-response',
  stimulus: '<p>Before performing the experiment, you will be ask to answer 6 simple questions (2 min).</p><p>Press any key to begin.</p>',
  post_trial_gap: 1500
};

var job = {
  type: 'html-button-response',
  stimulus: '<p>Do you work in academia?</p>',
  choices: [
    "Yes, permanent research/engineer",
    "Yes, postdoc",
    "Yes, PhD student",
    "Yes, Research assistant/technician",
    "Yes, Support function",
    "No"
  ]
};

var gender = {
  type: 'html-button-response',
  stimulus: '<p>What is your gender?</p>',
  choices: [
    "Male",
    "Female",
    "Other"
  ]
}

var ethnicity = {
  type: 'html-button-response',
  stimulus: '<p>What is your ethnicity?</p>',
  choices: [
    "White",
    "Black",
    "Other"
  ]
};

var continent = {
  type: 'html-button-response',
  stimulus: '<p> In which world region are you currently living?</p>',
  choices: [
    "Europe",
    "North America",
    "South America",
    "Africa",
    "East Asia",
    "Central Asia",
    "Middle East",
    "Oceania",
    "Other"
  ]
};

var proportion = {
  type: 'html-button-response',
  stimulus: '<p> In your institution/company, what is roughly the proportion of Black people working at the same hierarchical level than you?</p>',
  choices: [
    "None",
    "Less than 5%",
    "Between 5% and 10%",
    "Between 10% and 25%",
    "Between 25% and 50%",
    "Between 50% and 100%"
  ]
};

var scale_1 = [
  "Strongly Disagree",
  "Disagree",
  "Neutral",
  "Agree",
  "Strongly Agree"
];

var likert_page = {
  type: 'survey-likert',
  questions: [
    {prompt: "How much do you agree with the following statement: Something should be done to improve the condition and representation of Black people in academia.", labels: scale_1}
  ]
};

var welcome_block = {
  type: 'html-keyboard-response',
  stimulus: '<p>You will now performed the academic version of the Implicit Association Test (5min). In this study you will ' +
  'complete an Implicit Association Test (IAT) in which you ' +
  'will be asked to sort pictures and words into groups <strong>as ' +
  'fast and accurately as you can </strong>.</p><p>Press any key to bey.</p> <br><br><p>A COMPUTER KEYBOARD IS NEEDED (TOUCHSCREENS NOT SUPPORTED)</p>',
  post_trial_gap: 1500
};

var category_block = {
  type: 'html-keyboard-response',
  stimulus: '<p>Next, you will use the "E" and "I" computer keys ' + 'to categorize items into groups <strong>as fast as you can</strong>. ' +
  'These are the four groups and the items that belong to each:<br><br>' +
  '<strong>Good</strong> attributes in academia:<br>' + 'Logical, Valid, Honest, Rigorous, Mindful, ' +
  'Insightful, Creative, Rigorous<br><br>' + '<strong>Bad</strong> attributes in academia:<br>' + 'Careless, ' +
  'Invalid, False, Absurd, Specious, Trivial, Incoherent, Ignorant<br><br>' +
  '<strong>Black</strong>:<br>' + "<img src='../img/race/bf14_nc.jpg'></img>  " +
  "<img src='../img/race/bf23_nc.jpg'></img>  " + "<img src='../img/race/bf56_nc.jpg'></img>  " +
  "<img src='../img/race/bm14_nc.jpg'></img>  " + "<img src='../img/race/bm23_nc.jpg'></img>  " +
  "<img src='../img/race/bm56_nc.jpg'></img><br><br>" + '<strong>White</strong>:<br>' +
  "<img src='../img/race/wf2_nc.jpg'></img>  " + "<img src='../img/race/wf3_nc.jpg'></img>  " +
  "<img src='../img/race/wf6_nc.jpg'></img>  " + "<img src='../img/race/wm1_nc.jpg'></img>  " +
  "<img src='../img/race/wm4_nc.jpg'></img>  " + "<img src='../img/race/wm6_nc.jpg'></img><br><br>" +
  "Press any key to continue.</p>",
  post_trial_gap: 1500
};

var instructions_block = {
  type: 'html-keyboard-response',
  stimulus: "<div style='position: absolute; top: 18%; left: 20%'><p>Press E for:<br><strong>BLACK</strong></p></div>" +
  "<div style='position: absolute; top: 18%; right: 20%'><p>Press I for:<br><strong>WHITE</strong></p></div>" +
  "<div style='position: relative; top: 42%; margin-left: auto; margin-right: auto'>Put a left finger on the <strong>E</strong> key for items that belong to the BLACK People category. Put a right finger on the " +
  "<strong>I</strong> key for items that belong to the WHITE People " +
  "category. Items will appear one at a time.<br><br>" + "If you " +
  "make a mistake, a red X will appear. Press the keys listed below " +
  "to continue. Go as fast as you can while being accurate.<br><br> " +
  "Press the any key when you are ready to start.</div>",
};

var trial_block = {
  timeline: [
    {
      type: 'iat-image',
      stimulus: jsPsych.timelineVariable('stimulus'),
      stim_key_association: jsPsych.timelineVariable('stim_key_association'),
      html_when_wrong: '<span style="color: red; font-size: 80px">X</span>',
      bottom_instructions: '<p>If you press the wrong key, a red X will appear. Press the other key to continue</p>',
      force_correct_key_press: true,
      display_feedback: true,
      trial_duration: 3000, //Only if display_feedback is false
      left_category_key: 'E',
      right_category_key: 'I',
      left_category_label: ['BLACK'],
      right_category_label: ['WHITE'],
      response_ends_trial: true,
      data: { iat_type: 'practice' }
    }
  ],
  timeline_variables: [
    {stimulus: "../img/race/bf14_nc.jpg", stim_key_association: "left"},
    {stimulus: "../img/race/bf23_nc.jpg", stim_key_association: "left"},
    {stimulus: "../img/race/bf56_nc.jpg", stim_key_association: "left"},
    {stimulus: "../img/race/bm14_nc.jpg", stim_key_association: "left"},
    {stimulus: "../img/race/bm23_nc.jpg", stim_key_association: "left"},
    {stimulus: "../img/race/bm56_nc.jpg", stim_key_association: "left"},
    {stimulus: "../img/race/wf2_nc.jpg", stim_key_association: "right"},
    {stimulus: "../img/race/wf3_nc.jpg", stim_key_association: "right"},
    {stimulus: "../img/race/wf6_nc.jpg", stim_key_association: "right"},
    {stimulus: "../img/race/wm1_nc.jpg", stim_key_association: "right"},
    {stimulus: "../img/race/wm4_nc.jpg", stim_key_association: "right"},
    {stimulus: "../img/race/wm6_nc.jpg", stim_key_association: "right"}
  ],
  randomize_order: true,
  repetitions: 2
};

var instructions_block2 = {
  type: 'html-keyboard-response',
  stimulus: "<div style='position: absolute; top: 18%; left: 20%'>Press E for:<br><strong>BAD</strong></div>" +
  "<div style='position: absolute; top: 18%; right: 20%'>Press I for:<br><strong>GOOD</strong></div>" +
  "<div style='position: relative; top: 42%; margin-left: auto; margin-right: auto'>Put a left finger on the <strong>E</strong> key for items that " +
  "belong to the BAD category. Put a right finger on the " +
  "<strong>I</strong> key for items that belong to the GOOD " +
  "category. Items will appear one at a time.<br><br>" + "If you " +
  "make a mistake, a red X will appear. Press the keys listed below " +
  "to continue. Go as fast as you can while being accurate.<br><br> " +
  "Press the any key when you are ready to start.</div>",
};

var trial_block2 = {
  timeline: [
    {
      type: 'iat-html',
      stimulus: jsPsych.timelineVariable('stimulus'),
      stim_key_association: jsPsych.timelineVariable('stim_key_association'),
      html_when_wrong: '<span style="color: red; font-size: 80px">X</span>',
      bottom_instructions: '<p>If you press the wrong key, a red X will appear. Press the other key to continue</p>',
      force_correct_key_press: true,
      display_feedback: true,
      trial_duration: 3000, //Only if display_feedback is false
      left_category_key: 'E',
      right_category_key: 'I',
      left_category_label: ['BAD'],
      right_category_label: ['GOOD'],
      response_ends_trial: true,
      data: { iat_type: 'practice' }
    }
  ],
  timeline_variables: [
    {stimulus: "Careless", stim_key_association: "left"},
    {stimulus: "Invalid", stim_key_association: "left"},
    {stimulus: "False", stim_key_association: "left"},
    {stimulus: "Absurd", stim_key_association: "left"},
    {stimulus: "Specious", stim_key_association: "left"},
    {stimulus: "Trivial", stim_key_association: "left"},
    {stimulus: "Incoherent", stim_key_association: "left"},
    {stimulus: "Ignorant", stim_key_association: "left"},
    {stimulus: "Logical", stim_key_association: "right"},
    {stimulus: "Valid", stim_key_association: "right"},
    {stimulus: "Honest", stim_key_association: "right"},
    {stimulus: "Rigorous", stim_key_association: "right"},
    {stimulus: "Mindful", stim_key_association: "right"},
    {stimulus: "Insightful", stim_key_association: "right"},
    {stimulus: "Creative", stim_key_association: "right"},
    {stimulus: "Rigorous", stim_key_association: "right"}
  ],
  randomize_order: true,
  repetitions: 2
};


var instructions_block3 = {
  type: 'html-keyboard-response',
  stimulus: "<div style='position: absolute; top: 18%; left: 20%'>Press E for:<br> " +
  "<strong>BAD</strong><br>" + "or<br>" + "<strong>BLACK</strong></div>" + "<div style='position: absolute; top: 18%; right: 20%'>" +
  "Press I for:<br>" + "<strong>GOOD</strong><br>" + "or<br>" + "<strong>WHITE</strong></div>" +
  "<div style='position: relative; top: 42%; margin-left: auto; margin-right: auto'>Use <strong>E</strong> for BAD and for " +
  "BLACK People<br>" + "Use <strong>I</strong> for GOOD and for WHITE People<br>" +
  "Each item belongs to only one category.<br><br>" + "If you " +
  "make a mistake, a red X will appear. Press the keys listed below " +
  "to continue. Go as fast as you can while being accurate.<br><br> " +
  "Press the any key when you are ready to start.</div>",
};

var trial_block3 = {
  timeline: [
    {
      type: jsPsych.timelineVariable('type'),
      stimulus: jsPsych.timelineVariable('stimulus'),
      stim_key_association: jsPsych.timelineVariable('stim_key_association'),
      html_when_wrong: '<span style="color: red; font-size: 80px">X</span>',
      bottom_instructions: '<p>If you press the wrong key, a red X will appear. Press the other key to continue</p>',
      force_correct_key_press: true,
      display_feedback: true,
      trial_duration: 3000, //Only if display_feedback is false
      left_category_key: 'E',
      right_category_key: 'I',
      left_category_label: ['BAD', 'BLACK'],
      right_category_label: ['GOOD', 'WHITE'],
      response_ends_trial: true,
      data: { iat_type: 'early-bad-old' }
    }
  ],
  timeline_variables: [
    {type: 'iat-image', stimulus: "../img/race/bf14_nc.jpg", stim_key_association: "left"},
    {type: 'iat-image', stimulus: "../img/race/bf23_nc.jpg", stim_key_association: "left"},
    {type: 'iat-image', stimulus: "../img/race/bf56_nc.jpg", stim_key_association: "left"},
    {type: 'iat-image', stimulus: "../img/race/bm14_nc.jpg", stim_key_association: "left"},
    {type: 'iat-image', stimulus: "../img/race/bm23_nc.jpg", stim_key_association: "left"},
    {type: 'iat-image', stimulus: "../img/race/bm56_nc.jpg", stim_key_association: "left"},
    {type: 'iat-image', stimulus: "../img/race/wf2_nc.jpg", stim_key_association: "right"},
    {type: 'iat-image', stimulus: "../img/race/wf3_nc.jpg", stim_key_association: "right"},
    {type: 'iat-image', stimulus: "../img/race/wf6_nc.jpg", stim_key_association: "right"},
    {type: 'iat-image', stimulus: "../img/race/wm1_nc.jpg", stim_key_association: "right"},
    {type: 'iat-image', stimulus: "../img/race/wm4_nc.jpg", stim_key_association: "right"},
    {type: 'iat-image', stimulus: "../img/race/wm6_nc.jpg", stim_key_association: "right"},
    {type: 'iat-html', stimulus: "Careless", stim_key_association: "left"},
    {type: 'iat-html', stimulus: "Invalid", stim_key_association: "left"},
    {type: 'iat-html', stimulus: "False", stim_key_association: "left"},
    {type: 'iat-html', stimulus: "Absurd", stim_key_association: "left"},
    {type: 'iat-html', stimulus: "Specious", stim_key_association: "left"},
    {type: 'iat-html', stimulus: "Trivial", stim_key_association: "left"},
    {type: 'iat-html', stimulus: "Incoherent", stim_key_association: "left"},
    {type: 'iat-html', stimulus: "Ignorant", stim_key_association: "left"},
    {type: 'iat-html', stimulus: "Logical", stim_key_association: "right"},
    {type: 'iat-html', stimulus: "Valid", stim_key_association: "right"},
    {type: 'iat-html', stimulus: "Honest", stim_key_association: "right"},
    {type: 'iat-html', stimulus: "Rigorous", stim_key_association: "right"},
    {type: 'iat-html', stimulus: "Mindful", stim_key_association: "right"},
    {type: 'iat-html', stimulus: "Insightful", stim_key_association: "right"},
    {type: 'iat-html', stimulus: "Creative", stim_key_association: "right"},
    {type: 'iat-html', stimulus: "Rigorous", stim_key_association: "right"}
  ],
  randomize_order: true,
  repetitions: 1
};

var instructions_block4 = {
  type: 'html-keyboard-response',
  stimulus: "<div style='position: absolute; top: 18%; left: 20%'>Press E for:<br> " +
  "<strong>BAD</strong><br>" + "or<br>" + "<strong>BLACK</strong></div>" + "<div style='position: absolute; top: 18%; right: 20%'>" +
  "Press I for:<br>" + "<strong>GOOD</strong><br>" + "or<br>" + "<strong>WHITE</strong></div>" +
  "<div style='position: relative; top: 42%; margin-left: auto; margin-right: auto'>This is the same as the previous part.<br>" + "Use <strong>E</strong> for BAD and for " +
  "BLACK People<br>" + "Use <strong>I</strong> for GOOD and for WHITE People<br>" +
  "Each item belongs to only one category.<br><br>" + "If you " +
  "make a mistake, a red X will appear. Press the keys listed below " +
  "to continue. Go as fast as you can while being accurate.<br><br> " +
  "Press the any key when you are ready to start.</div>",
};

var trial_block4 = {
  timeline: [
    {
      type: jsPsych.timelineVariable('type'),
      is_html: jsPsych.timelineVariable('is_html'),
      stimulus: jsPsych.timelineVariable('stimulus'),
      stim_key_association: jsPsych.timelineVariable('stim_key_association'),
      html_when_wrong: '<span style="color: red; font-size: 80px">X</span>',
      bottom_instructions: '<p>If you press the wrong key, a red X will appear. Press the other key to continue</p>',
      force_correct_key_press: true,
      display_feedback: true,
      trial_duration: 3000, //Only if display_feedback is false
      left_category_key: 'E',
      right_category_key: 'I',
      left_category_label: ['BAD', 'BLACK'],
      right_category_label: ['GOOD', 'WHITE'],
      response_ends_trial: true,
      data: { iat_type: 'bad-old' }
    }
  ],
  timeline_variables: [
    {type: 'iat-image', stimulus: "../img/race/bf14_nc.jpg", stim_key_association: "left"},
    {type: 'iat-image', stimulus: "../img/race/bf23_nc.jpg", stim_key_association: "left"},
    {type: 'iat-image', stimulus: "../img/race/bf56_nc.jpg", stim_key_association: "left"},
    {type: 'iat-image', stimulus: "../img/race/bm14_nc.jpg", stim_key_association: "left"},
    {type: 'iat-image', stimulus: "../img/race/bm23_nc.jpg", stim_key_association: "left"},
    {type: 'iat-image', stimulus: "../img/race/bm56_nc.jpg", stim_key_association: "left"},
    {type: 'iat-image', stimulus: "../img/race/wf2_nc.jpg", stim_key_association: "right"},
    {type: 'iat-image', stimulus: "../img/race/wf3_nc.jpg", stim_key_association: "right"},
    {type: 'iat-image', stimulus: "../img/race/wf6_nc.jpg", stim_key_association: "right"},
    {type: 'iat-image', stimulus: "../img/race/wm1_nc.jpg", stim_key_association: "right"},
    {type: 'iat-image', stimulus: "../img/race/wm4_nc.jpg", stim_key_association: "right"},
    {type: 'iat-image', stimulus: "../img/race/wm6_nc.jpg", stim_key_association: "right"},
    {type: 'iat-html', stimulus: "Careless", stim_key_association: "left"},
    {type: 'iat-html', stimulus: "Invalid", stim_key_association: "left"},
    {type: 'iat-html', stimulus: "False", stim_key_association: "left"},
    {type: 'iat-html', stimulus: "Absurd", stim_key_association: "left"},
    {type: 'iat-html', stimulus: "Specious", stim_key_association: "left"},
    {type: 'iat-html', stimulus: "Trivial", stim_key_association: "left"},
    {type: 'iat-html', stimulus: "Incoherent", stim_key_association: "left"},
    {type: 'iat-html', stimulus: "Ignorant", stim_key_association: "left"},
    {type: 'iat-html', stimulus: "Logical", stim_key_association: "right"},
    {type: 'iat-html', stimulus: "Valid", stim_key_association: "right"},
    {type: 'iat-html', stimulus: "Honest", stim_key_association: "right"},
    {type: 'iat-html', stimulus: "Rigorous", stim_key_association: "right"},
    {type: 'iat-html', stimulus: "Mindful", stim_key_association: "right"},
    {type: 'iat-html', stimulus: "Insightful", stim_key_association: "right"},
    {type: 'iat-html', stimulus: "Creative", stim_key_association: "right"},
    {type: 'iat-html', stimulus: "Rigorous", stim_key_association: "right"}
  ],
  randomize_order: true,
  repetitions: 2
};

var instructions_block5 = {
  type: 'html-keyboard-response',
  stimulus: "<div style='position: absolute; top: 18%; left: 20%'>Press E for:<br>" + "<strong>WHITE</strong></div>" +
  "<div style='position: absolute; top: 18%; right: 20%'>Press I for:<br>" + "<strong>BLACK</strong></div>" +
  "<div style='position: relative; top: 42%; margin-left: auto; margin-right: auto'>Watch out, the labels have changed positions!<br>" +
  "Use <strong>E</strong> for WHITE People<br>" + "Use <strong>I</strong> for BLACK People<br><br>" +
  "If you make a mistake, a red X will appear. Press the keys listed below " +
  "to continue. Go as fast as you can while being accurate.<br><br> " +
  "Press the any key when you are ready to start.</div>"
};

var trial_block5 = {
  timeline: [
    {
      type: 'iat-image',
      is_html: false,
      stimulus: jsPsych.timelineVariable('stimulus'),
      stim_key_association: jsPsych.timelineVariable('stim_key_association'),
      html_when_wrong: '<span style="color: red; font-size: 80px">X</span>',
      bottom_instructions: '<p>If you press the wrong key, a red X will appear. Press the other key to continue</p>',
      force_correct_key_press: true,
      display_feedback: true,
      trial_duration: 3000, //Only if display_feedback is false
      left_category_key: 'E',
      right_category_key: 'I',
      left_category_label: ['WHITE'],
      right_category_label: ['BLACK'],
      response_ends_trial: true,
      data: { iat_type: 'practice' }
    }
  ],
  timeline_variables: [
    {type: 'iat-image', stimulus: "../img/race/bf14_nc.jpg", stim_key_association: "right"},
    {type: 'iat-image', stimulus: "../img/race/bf23_nc.jpg", stim_key_association: "right"},
    {type: 'iat-image', stimulus: "../img/race/bf56_nc.jpg", stim_key_association: "right"},
    {type: 'iat-image', stimulus: "../img/race/bm14_nc.jpg", stim_key_association: "right"},
    {type: 'iat-image', stimulus: "../img/race/bm23_nc.jpg", stim_key_association: "right"},
    {type: 'iat-image', stimulus: "../img/race/bm56_nc.jpg", stim_key_association: "right"},
    {type: 'iat-image', stimulus: "../img/race/wf2_nc.jpg", stim_key_association: "left"},
    {type: 'iat-image', stimulus: "../img/race/wf3_nc.jpg", stim_key_association: "left"},
    {type: 'iat-image', stimulus: "../img/race/wf6_nc.jpg", stim_key_association: "left"},
    {type: 'iat-image', stimulus: "../img/race/wm1_nc.jpg", stim_key_association: "left"},
    {type: 'iat-image', stimulus: "../img/race/wm4_nc.jpg", stim_key_association: "left"},
    {type: 'iat-image', stimulus: "../img/race/wm6_nc.jpg", stim_key_association: "left"}
  ],
  randomize_order: true,
  repetitions: 2
};

var instructions_block6 = {
  type: 'html-keyboard-response',
  stimulus: "<div style='position: absolute; top: 18%; left: 20%'>Press E for:<br>" + "<strong>BAD</strong><br>" + "or<br>" +
  "<strong>WHITE</strong></div>" + "<div style='position: absolute; top: 18%; right: 20%'>Press I for:<br>" + "<strong>GOOD</strong><br>" + "or<br>" +
  "<strong>BLACK</strong></div>" +
  "<div style='position: relative; top: 42%; margin-left: auto; margin-right: auto'>Use <strong>E</strong> for BAD and for WHITE People<br>" +
  "Use <strong>I</strong> for GOOD and for BLACK People<br><br>" +
  "If you make a mistake, a red X will appear. Press the keys listed below " +
  "to continue. Go as fast as you can while being accurate.<br><br> " +
  "Press the any key when you are ready to start.</div>"
};

var trial_block6 = {
  timeline: [
    {
      type: jsPsych.timelineVariable('type'),
      stimulus: jsPsych.timelineVariable('stimulus'),
      stim_key_association: jsPsych.timelineVariable('stim_key_association'),
      html_when_wrong: '<span style="color: red; font-size: 80px">X</span>',
      bottom_instructions: '<p>If you press the wrong key, a red X will appear. Press the other key to continue</p>',
      force_correct_key_press: true,
      display_feedback: true,
      trial_duration: 3000, //Only if display_feedback is false
      left_category_key: 'E',
      right_category_key: 'I',
      left_category_label: ['BAD', 'WHITE'],
      right_category_label: ['GOOD', 'BLACK'],
      response_ends_trial: true,
      data: {iat_type: 'early-bad-young'}
    }
  ],
  timeline_variables: [
    {type: 'iat-image', stimulus: "../img/race/bf14_nc.jpg", stim_key_association: "right"},
    {type: 'iat-image', stimulus: "../img/race/bf23_nc.jpg", stim_key_association: "right"},
    {type: 'iat-image', stimulus: "../img/race/bf56_nc.jpg", stim_key_association: "right"},
    {type: 'iat-image', stimulus: "../img/race/bm14_nc.jpg", stim_key_association: "right"},
    {type: 'iat-image', stimulus: "../img/race/bm23_nc.jpg", stim_key_association: "right"},
    {type: 'iat-image', stimulus: "../img/race/bm56_nc.jpg", stim_key_association: "right"},
    {type: 'iat-image', stimulus: "../img/race/wf2_nc.jpg", stim_key_association: "left"},
    {type: 'iat-image', stimulus: "../img/race/wf3_nc.jpg", stim_key_association: "left"},
    {type: 'iat-image', stimulus: "../img/race/wf6_nc.jpg", stim_key_association: "left"},
    {type: 'iat-image', stimulus: "../img/race/wm1_nc.jpg", stim_key_association: "left"},
    {type: 'iat-image', stimulus: "../img/race/wm4_nc.jpg", stim_key_association: "left"},
    {type: 'iat-image', stimulus: "../img/race/wm6_nc.jpg", stim_key_association: "left"},
    {type: 'iat-html', stimulus: "Careless", stim_key_association: "left"},
    {type: 'iat-html', stimulus: "Invalid", stim_key_association: "left"},
    {type: 'iat-html', stimulus: "False", stim_key_association: "left"},
    {type: 'iat-html', stimulus: "Absurd", stim_key_association: "left"},
    {type: 'iat-html', stimulus: "Specious", stim_key_association: "left"},
    {type: 'iat-html', stimulus: "Trivial", stim_key_association: "left"},
    {type: 'iat-html', stimulus: "Incoherent", stim_key_association: "left"},
    {type: 'iat-html', stimulus: "Ignorant", stim_key_association: "left"},
    {type: 'iat-html', stimulus: "Logical", stim_key_association: "right"},
    {type: 'iat-html', stimulus: "Valid", stim_key_association: "right"},
    {type: 'iat-html', stimulus: "Honest", stim_key_association: "right"},
    {type: 'iat-html', stimulus: "Rigorous", stim_key_association: "right"},
    {type: 'iat-html', stimulus: "Mindful", stim_key_association: "right"},
    {type: 'iat-html', stimulus: "Insightful", stim_key_association: "right"},
    {type: 'iat-html', stimulus: "Creative", stim_key_association: "right"},
    {type: 'iat-html', stimulus: "Rigorous", stim_key_association: "right"}
  ],
  randomize_order: true,
  repetitions: 1
};

var instructions_block7 = {
  type: 'html-keyboard-response',
  stimulus: "<div style='position: absolute; top: 18%; left: 20%'>Press E for:<br>" + "<strong>BAD</strong><br>" + "or<br>" +
  "<strong>WHITE</strong></div>" + "<div style='position: absolute; top: 18%; right: 20%'>Press I for:<br>" + "<strong>GOOD</strong><br>" + "or<br>" +
  "<strong>BLACK</strong></div>" +
  "<div style='position: relative; top: 42%; margin-left: auto; margin-right: auto'>This is the same as the previous part<br>" +
  "Use <strong>E</strong> for BAD and for WHITE People<br>" +
  "Use <strong>I</strong> for GOOD and for BLACK People<br>" +
  "Each item belongs to only one category<br><br>" +
  "If you make a mistake, a red X will appear. Press the keys listed below " +
  "to continue. Go as fast as you can while being accurate.<br><br> " +
  "Press the any key when you are ready to start.</div>"
};

var trial_block7 = {
  timeline: [
    {
      type: jsPsych.timelineVariable('type'),
      is_html: jsPsych.timelineVariable('is_html'),
      stimulus: jsPsych.timelineVariable('stimulus'),
      stim_key_association: jsPsych.timelineVariable('stim_key_association'),
      html_when_wrong: '<span style="color: red; font-size: 80px">X</span>',
      bottom_instructions: '<p>If you press the wrong key, a red X will appear. Press the other key to continue</p>',
      force_correct_key_press: true,
      display_feedback: true,
      trial_duration: 3000, //Only if display_feedback is false
      left_category_key: 'E',
      right_category_key: 'I',
      left_category_label: ['BAD', 'WHITE'],
      right_category_label: ['GOOD', 'BLACK'],
      response_ends_trial: true,
      data: {iat_type: 'bad-young'}
    }
  ],
  timeline_variables: [
    {type: 'iat-image', stimulus: "../img/race/bf14_nc.jpg", stim_key_association: "right"},
    {type: 'iat-image', stimulus: "../img/race/bf23_nc.jpg", stim_key_association: "right"},
    {type: 'iat-image', stimulus: "../img/race/bf56_nc.jpg", stim_key_association: "right"},
    {type: 'iat-image', stimulus: "../img/race/bm14_nc.jpg", stim_key_association: "right"},
    {type: 'iat-image', stimulus: "../img/race/bm23_nc.jpg", stim_key_association: "right"},
    {type: 'iat-image', stimulus: "../img/race/bm56_nc.jpg", stim_key_association: "right"},
    {type: 'iat-image', stimulus: "../img/race/wf2_nc.jpg", stim_key_association: "left"},
    {type: 'iat-image', stimulus: "../img/race/wf3_nc.jpg", stim_key_association: "left"},
    {type: 'iat-image', stimulus: "../img/race/wf6_nc.jpg", stim_key_association: "left"},
    {type: 'iat-image', stimulus: "../img/race/wm1_nc.jpg", stim_key_association: "left"},
    {type: 'iat-image', stimulus: "../img/race/wm4_nc.jpg", stim_key_association: "left"},
    {type: 'iat-image', stimulus: "../img/race/wm6_nc.jpg", stim_key_association: "left"},
    {type: 'iat-html', stimulus: "Careless", stim_key_association: "left"},
    {type: 'iat-html', stimulus: "Invalid", stim_key_association: "left"},
    {type: 'iat-html', stimulus: "False", stim_key_association: "left"},
    {type: 'iat-html', stimulus: "Absurd", stim_key_association: "left"},
    {type: 'iat-html', stimulus: "Specious", stim_key_association: "left"},
    {type: 'iat-html', stimulus: "Trivial", stim_key_association: "left"},
    {type: 'iat-html', stimulus: "Incoherent", stim_key_association: "left"},
    {type: 'iat-html', stimulus: "Ignorant", stim_key_association: "left"},
    {type: 'iat-html', stimulus: "Logical", stim_key_association: "right"},
    {type: 'iat-html', stimulus: "Valid", stim_key_association: "right"},
    {type: 'iat-html', stimulus: "Honest", stim_key_association: "right"},
    {type: 'iat-html', stimulus: "Rigorous", stim_key_association: "right"},
    {type: 'iat-html', stimulus: "Mindful", stim_key_association: "right"},
    {type: 'iat-html', stimulus: "Insightful", stim_key_association: "right"},
    {type: 'iat-html', stimulus: "Creative", stim_key_association: "right"},
    {type: 'iat-html', stimulus: "Rigorous", stim_key_association: "right"}
  ],
  randomize_order: true,
  repetitions: 2
};

var debrief_block = {
  type: "html-keyboard-response",
  stimulus: function() {
    // calculate D-score from https://faculty.washington.edu/agg/pdf/GB&N.JPSP.2003.pdf
    // first find mean RT
    var bad_old_correct = jsPsych.data.get().filter({iat_type: 'bad-old', correct: true}).filterCustom(function(x) { return x.rt < 10000 }).select('rt');
    var bad_old_incorrect = jsPsych.data.get().filter({iat_type: 'bad-old', correct: false}).filterCustom(function(x) { return x.rt < 10000 }).select('rt');
    bad_old_incorrect = bad_old_incorrect.replace(bad_old_correct.mean() + 600);
    var avg_bad_old = (bad_old_incorrect.sum() + bad_old_correct.sum())/(bad_old_incorrect.values.length + bad_old_correct.values.length);


    var bad_young_correct = jsPsych.data.get().filter({iat_type: 'bad-young', correct: true}).filterCustom(function(x) { return x.rt < 10000 }).select('rt');
    var bad_young_incorrect = jsPsych.data.get().filter({iat_type: 'bad-young', correct: false}).filterCustom(function(x) { return x.rt < 10000 }).select('rt');
    bad_young_incorrect = bad_young_incorrect.replace(bad_young_correct.mean() + 600);
    var avg_bad_young = (bad_young_incorrect.sum() + bad_young_correct.sum())/(bad_young_incorrect.values.length + bad_young_correct.values.length);

    var early_bad_old_correct = jsPsych.data.get().filter({iat_type: 'early-bad-old', correct: true}).filterCustom(function(x) { return x.rt < 10000 }).select('rt');
    var early_bad_old_incorrect = jsPsych.data.get().filter({iat_type: 'early-bad-old', correct: false}).filterCustom(function(x) { return x.rt < 10000 }).select('rt');
    bad_old_incorrect = early_bad_old_incorrect.replace(early_bad_old_correct.mean() + 600);
    var avg_early_bad_old = (early_bad_old_incorrect.sum() + early_bad_old_correct.sum())/(early_bad_old_incorrect.values.length + early_bad_old_correct.values.length);

    var early_bad_young_correct = jsPsych.data.get().filter({iat_type: 'early-bad-young', correct: true}).filterCustom(function(x) { return x.rt < 10000 }).select('rt');
    var early_bad_young_incorrect = jsPsych.data.get().filter({iat_type: 'early-bad-young', correct: false}).filterCustom(function(x) { return x.rt < 10000 }).select('rt');
    bad_young_incorrect = early_bad_young_incorrect.replace(early_bad_young_correct.mean() + 600);
    var avg_early_bad_young = (early_bad_young_incorrect.sum() + early_bad_young_correct.sum())/(early_bad_young_incorrect.values.length + early_bad_young_correct.values.length);

    var pooled_early = jsPsych.data.get().filter({iat_type: 'early-bad-young'},{iat_type: 'early-bad-old'}).filterCustom(function(x) { return x.rt < 10000 }).select('rt');
    var std_pooled_early = pooled_early.sd();

    var pooled = jsPsych.data.get().filter({iat_type: 'bad-young'},{iat_type: 'bad-old'}).filterCustom(function(x) { return x.rt < 10000 }).select('rt');
    var std_pooled = pooled.sd();

    var early_ratio = (avg_early_bad_young-avg_early_bad_old)/std_pooled_early;
    var ratio = (avg_bad_young-avg_bad_old)/std_pooled;

    var d = (early_ratio + ratio) / 2;

    console.log(d)
    return "<p>You're done! Below is some information about how you performed.</p>"+
      "<p>Your D score, an index of performance that takes into account your accuracy, your decision times and the overall level of variability in your decision times, is <strong>"+d.toFixed(2)+"</strong></p>"+
      "<p>This score was computed using the improved algorithm proposed in <a href=\"https://faculty.washington.edu/agg/pdf/GB&N.JPSP.2003.pdf\" target=\"_blank\" >Greenwald et al., 2003</a>.</p>"+
      "<p>For reference, the Project Implicit IAT website labels D scores above 0.15 as a slight bias, scores above 0.35 as a moderate bias, and scores above 0.65 a strong bias. However, keep in mind that behavioral data is noisy at the individual level and that the IAT is most meaningful when the results of many individuals are analyzed together.</p>"

      /*
    return "<p>You're done! Below is some information about how you performed.</p>"+
    "<p>When the pairs were BAD/WHITE and GOOD/BLACK,  you gave a correct response in <strong>"+accuracy_bad_young.toFixed(2)+"%</strong> of the trials and it took you an average of <strong>"+Math.floor(mean_correct_responses_bad_young)+"ms</strong> to respond.</p>"+
    "<p>When the pairs were BAD/BLACK and GOOD/WHITE,  you gave a correct response in <strong>"+accuracy_bad_old.toFixed(2)+"%</strong> of the trials and it took you an average of <strong>"+Math.floor(mean_correct_responses_bad_old)+"ms</strong> to respond.</p>"+
    "<br>"+
    "<p>Less correct responses and longer decision times in the BAD/WHITE and GOOD/BLACK condition, as compared to the BAD/BLACK and GOOD/WHITE condition, are indicative of an implicit racial bias. However, please note that behavioral data is inherently noisy at the individual level and that this experiment is designed to study implicit biases at the level of a community.</p>"
    */
  }
};

var timeline = [];
timeline.push(intro_block);
timeline.push(job);
timeline.push(gender);
timeline.push(ethnicity);
timeline.push(continent);
timeline.push(proportion);
timeline.push(likert_page);
timeline.push(welcome_block);
timeline.push(category_block);

if (Math.random()>=0.5) {
  timeline.push(instructions_block);
  timeline.push(trial_block);
  timeline.push(instructions_block2);
  timeline.push(trial_block2);
  timeline.push(instructions_block3);
  timeline.push(trial_block3);
  timeline.push(instructions_block4);
  timeline.push(trial_block4);
  timeline.push(instructions_block5);
  timeline.push(trial_block5);
  timeline.push(instructions_block6);
  timeline.push(trial_block6);
  timeline.push(instructions_block7);
  timeline.push(trial_block7);
} else {
  //  block of code to be executed if the condition is false
  timeline.push(instructions_block5);
  timeline.push(trial_block5);
  timeline.push(instructions_block2);
  timeline.push(trial_block2);
  timeline.push(instructions_block6);
  timeline.push(trial_block6);
  timeline.push(instructions_block7);
  timeline.push(trial_block7);
  timeline.push(instructions_block);
  timeline.push(trial_block);
  timeline.push(instructions_block3);
  timeline.push(trial_block3);
  timeline.push(instructions_block4);
  timeline.push(trial_block4);
}

timeline.push(debrief_block);


jsPsych.init({
  //  display_element: 'jspsych_target',
  timeline: timeline,
  on_finish: function() {
    $.ajax({
      type: "POST",
      url: "/experiment-data",
      data: jsPsych.data.get().json(),
      contentType: "application/json"
    })
    .done(function() {
      window.location.href = "finish";
    })
    .fail(function() {
      alert("A problem occurred while writing to the database. Please contact the researcher for more information.")
      window.location.href = "/";
    })
  }
});

</script>

</html>
